* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    --cor-primaria: #FF6311;
    --cor-secundaria: #2c2b2b;
    --espacamento: 0px 25px;
    font-size: 16px;
}

header {
    background-color: var(--cor-secundaria);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--espacamento);
}

.header-menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.header-menu ul li a {
    color: antiquewhite;
    text-decoration: none;
}

.header-menu ul li a:hover {
    color: aquamarine;
}

main {
    background-image: url(./img/banner.png);
    height: 790px;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.container-main {
    width: 50%;
    padding: 525px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-title {
    font-size: 45px;
    color: whitesmoke;
}

.main-description {
    color: white;
}

.main-button {
    width: 200px;
    height: 30px;
    background-color: var(--cor-primaria);
    border: none;
}

.mais-button a {
    color: aliceblue;
    text-decoration: none;
}

.main-button a:hover {
    color: aquamarine;
}

section {
    padding: var(--espacamento);
}

#section-dance {
    background-color: var(--cor-primaria);
    padding: 15px 15px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;

}

.card {
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-secundaria);
    color: aliceblue;
}
.card figure img{
    width: 100%;
}

.card p {
    text-align: justify;
    padding: 10px;
}